<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18C48a</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ACPISensors</string>
	<key>CFBundleIdentifier</key>
	<string>org.hwsensors.driver.ACPISensors</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>6.11-474-g55059940.1802</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1802</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10B61</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12F37</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>1010</string>
	<key>DTXcodeBuild</key>
	<string>10B61</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ACPI Customizable Monitoring Plugin</key>
		<dict>
			<key>IOClass</key>
			<string>ACPISensors</string>
			<key>IOMatchCategory</key>
			<string>FakeSMCPlugin</string>
			<key>IONameMatch</key>
			<array>
				<string>monitor</string>
				<string>MONITOR</string>
				<string>MON0000</string>
				<string>FAN0000</string>
				<string>MON00000</string>
				<string>FAN00000</string>
				<string>acpi-monitor</string>
			</array>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>IOResourceMatch</key>
			<string>FakeSMCKeyStore</string>
			<key>Platform Profile</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>DisableDevice</key>
					<false/>
					<key>Tachometers</key>
					<dict>
						<key>CPUFan</key>
						<string>FAN1</string>
						<key>ExhaustFan</key>
						<string>FAN4</string>
						<key>FAN5</key>
						<string>FAN5</string>
						<key>Fan 10</key>
						<string>FANA</string>
						<key>Fan 6</key>
						<string>FAN6</string>
						<key>Fan 7</key>
						<string>FAN7</string>
						<key>Fan 8</key>
						<string>FAN8</string>
						<key>Fan 9</key>
						<string>FAN9</string>
						<key>IntakeFan</key>
						<string>FAN3</string>
						<key>PowerFan</key>
						<string>FAN2</string>
						<key>System Fan</key>
						<string>FAN0</string>
					</dict>
					<key>Temperatures</key>
					<dict>
						<key>Ambient</key>
						<string>TAMB</string>
						<key>CPU Heatsink</key>
						<string>TCPU</string>
						<key>CPU Proximity</key>
						<string>TCPP</string>
						<key>Mainboard</key>
						<string>TSYS</string>
						<key>UseKelvins</key>
						<false/>
					</dict>
					<key>Voltages</key>
					<dict>
						<key>CPU Core</key>
						<string>VCPU</string>
						<key>Memory</key>
						<string>VMEM</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>ACPI Debugging Plugin</key>
		<dict>
			<key>IOClass</key>
			<string>ACPIProbe</string>
			<key>IOMatchCategory</key>
			<string>FakeSMCPlugin</string>
			<key>IONameMatch</key>
			<array>
				<string>PRB0000</string>
				<string>acpi-probe</string>
			</array>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>IOResourceMatch</key>
			<string>FakeSMCKeyStore</string>
			<key>IOUserClientClass</key>
			<string>ACPIProbeUserClient</string>
			<key>Platform Profile</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>DisableDevice</key>
					<false/>
					<key>MethodsToPoll</key>
					<array/>
					<key>PollingInterval</key>
					<integer>2000</integer>
					<key>PollingTimeout</key>
					<integer>5000</integer>
					<key>VerboseLog</key>
					<true/>
				</dict>
				<key>HP</key>
				<dict>
					<key>Default</key>
					<dict>
						<key>DisableDevice</key>
						<true/>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>PTID Device Monitoring Plugin</key>
		<dict>
			<key>IOClass</key>
			<string>PTIDSensors</string>
			<key>IOMatchCategory</key>
			<string>FakeSMCPlugin</string>
			<key>IONameMatch</key>
			<array>
				<string>PTID</string>
			</array>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>IOResourceMatch</key>
			<string>FakeSMCKeyStore</string>
			<key>Platform Profile</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>DisableDevice</key>
					<false/>
				</dict>
				<key>HP</key>
				<dict>
					<key>Default</key>
					<dict>
						<key>DisableDevice</key>
						<true/>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>Thermal Zone Monitoring Plugin</key>
		<dict>
			<key>IOClass</key>
			<string>ACPISensors</string>
			<key>IOMatchCategory</key>
			<string>FakeSMCPlugin</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>device_type</key>
				<string>thermal-zone</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>IOResourceMatch</key>
			<string>FakeSMCKeyStore</string>
			<key>Platform Profile</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>DisableDevice</key>
					<false/>
					<key>Temperatures</key>
					<dict>
						<key>Thermal Zone</key>
						<string>_TMP</string>
						<key>UseKelvins</key>
						<true/>
					</dict>
				</dict>
				<key>HP</key>
				<dict>
					<key>Default</key>
					<dict>
						<key>DisableDevice</key>
						<true/>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 slice, kozlek. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.6</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.6</string>
		<key>com.apple.kpi.mach</key>
		<string>10.6</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.6</string>
		<key>org.netkas.driver.FakeSMC</key>
		<string>1429</string>
	</dict>
	<key>Source Code</key>
	<string>"https://github.com/RehabMan/OS-X-FakeSMC-kozlek.git"</string>
</dict>
</plist>
