<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17D102</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>WhateverGreen</string>
	<key>CFBundleIdentifier</key>
	<string>as.vit9696.WhateverGreen</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WhateverGreen</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.2.5</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9F2000</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17E189</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0941</string>
	<key>DTXcodeBuild</key>
	<string>9F2000</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleIntelPanelA</key>
		<dict>
			<key>ApplePanels</key>
			<dict>
				<key>F14Txxxx</key>
				<data>
				ABEAAAA0AFIAcwCUAL4A+gE2AXIBxQIvArkDYAQaBQoG
				DgcQ
				</data>
				<key>F15Txxxx</key>
				<data>
				ABEAAAA2AFQAfQCyAPUBSQGxAisCuANZBBME7AXzBzQI
				rwrZ
				</data>
				<key>F16Txxxx</key>
				<data>
				ABEAAAAYACcAOgBSAHEAlgDEAPwBQAGTAfYCbgL+A6oE
				eAVs
				</data>
				<key>F17Txxxx</key>
				<data>
				ABEAAAAfADQATwBxAJsAzwEOAV0BuwIvArkDYAQpBR4G
				RAeh
				</data>
				<key>F18Txxxx</key>
				<data>
				ABEAAABTAIwA1QExAaICLgLYA64ErAXlB1kJHAs7DdAQ
				6hSZ
				</data>
				<key>F19Txxxx</key>
				<data>
				ABEAAAKPA1MEWgWhB64KPQ4UE3QaXiQYMalEWV52gxG2
				x/97
				</data>
				<key>F24Txxxx</key>
				<data>
				ABEAAQA0AFIAcwCUAL4A+gE2AXIBxQIvArkDYAQaBQoG
				DgcQ
				</data>
			</dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleBacklight</string>
			<key>IOClass</key>
			<string>AppleIntelPanelA</string>
			<key>IODisplayParameters</key>
			<dict>
				<key>brightness</key>
				<dict>
					<key>max</key>
					<integer>255</integer>
					<key>min</key>
					<integer>40</integer>
				</dict>
				<key>commit</key>
				<dict>
					<key>reg</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>IOMatchCategory</key>
			<string>IODisplayParameters</string>
			<key>IONameMatch</key>
			<string>backlight</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
		</dict>
		<key>NVHDAEnabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.vit9696.WhateverGreen</string>
			<key>IOClass</key>
			<string>NVHDAEnabler</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIMatch</key>
			<string>0x000010de&amp;0x0000ffff</string>
			<key>IOProbeScore</key>
			<integer>300000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>as.vit9696.WhateverGreen</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.vit9696.WhateverGreen</string>
			<key>IOClass</key>
			<string>WhateverGreen</string>
			<key>IOMatchCategory</key>
			<string>WhateverGreen</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 vit9696. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>as.vit9696.Lilu</key>
		<string>1.2.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.bsd</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.dsep</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>12.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
