<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15G31</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>HoRNDIS</string>
	<key>CFBundleGetInfoString</key>
	<string>Android/RNDIS tethering driver</string>
	<key>CFBundleIdentifier</key>
	<string>com.joshuawise.kexts.HoRNDIS</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>HoRNDIS</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>8.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7D1014</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>10K549</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0731</string>
	<key>DTXcodeBuild</key>
	<string>7D1014</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HoRNDISDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.joshuawise.kexts.HoRNDIS</string>
			<key>IOClass</key>
			<string>HoRNDISUSBDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bDeviceClass</key>
			<integer>224</integer>
			<key>bDeviceProtocol</key>
			<integer>0</integer>
			<key>bDeviceSubClass</key>
			<integer>0</integer>
		</dict>
		<key>HoRNDISDevice2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.joshuawise.kexts.HoRNDIS</string>
			<key>IOClass</key>
			<string>HoRNDISUSBDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bDeviceClass</key>
			<integer>239</integer>
			<key>bDeviceProtocol</key>
			<integer>1</integer>
			<key>bDeviceSubClass</key>
			<integer>2</integer>
		</dict>
		<key>HoRNDISDeviceComposite</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.joshuawise.kexts.HoRNDIS</string>
			<key>IOClass</key>
			<string>HoRNDISUSBDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bDeviceClass</key>
			<integer>0</integer>
			<key>bDeviceProtocol</key>
			<integer>0</integer>
			<key>bDeviceSubClass</key>
			<integer>0</integer>
		</dict>
		<key>MicroDriverDevice3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.joshuawise.kexts.HoRNDIS</string>
			<key>IOClass</key>
			<string>HoRNDISUSBDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bDeviceClass</key>
			<integer>2</integer>
			<key>bDeviceProtocol</key>
			<integer>0</integer>
			<key>bDeviceSubClass</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.1</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.8</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
	</dict>
</dict>
</plist>
