<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17G2112</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>VoodooI2CServices</string>
	<key>CFBundleIdentifier</key>
	<string>com.alexandred.VoodooI2CServices</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VoodooI2CServices</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9F2000</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17E189</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0941</string>
	<key>DTXcodeBuild</key>
	<string>9F2000</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>VoodooI2CLogger</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.alexandred.VoodooI2CServices</string>
			<key>IOClass</key>
			<string>VoodooI2CLogger</string>
			<key>IOMatchCategory</key>
			<string>VoodooI2CLogger</string>
			<key>IOProviderClass</key>
			<string>VoodooI2CServices</string>
		</dict>
		<key>VoodooI2CServices</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.alexandred.VoodooI2CServices</string>
			<key>IOClass</key>
			<string>VoodooI2CServices</string>
			<key>IOMatchCategory</key>
			<string>VoodooI2CServices</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Alexandre Daoud. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>14</string>
		<key>com.apple.kpi.libkern</key>
		<string>14</string>
	</dict>
</dict>
</plist>
