<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17G2112</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>VoodooGPIO</string>
	<key>CFBundleIdentifier</key>
	<string>org.coolstar.VoodooGPIO</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VoodooGPIO</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9F2000</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17E189</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0941</string>
	<key>DTXcodeBuild</key>
	<string>9F2000</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>VoodooGPIOCannonLakeH</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.coolstar.VoodooGPIO</string>
			<key>IOClass</key>
			<string>VoodooGPIOCannonLakeH</string>
			<key>IONameMatch</key>
			<array>
				<string>INT3450</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
		<key>VoodooGPIOCannonLakeLP</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.coolstar.VoodooGPIO</string>
			<key>IOClass</key>
			<string>VoodooGPIOCannonLakeLP</string>
			<key>IONameMatch</key>
			<array>
				<string>INT34BB</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
		<key>VoodooGPIOSunrisePointH</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.coolstar.VoodooGPIO</string>
			<key>IOClass</key>
			<string>VoodooGPIOSunrisePointH</string>
			<key>IONameMatch</key>
			<array>
				<string>INT345D</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
		<key>VoodooGPIOSunrisePointLP</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.coolstar.VoodooGPIO</string>
			<key>IOClass</key>
			<string>VoodooGPIOSunrisePointLP</string>
			<key>IONameMatch</key>
			<array>
				<string>INT344B</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 CoolStar. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.1</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.4</string>
		<key>com.apple.kpi.iokit</key>
		<string>13.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>13.0</string>
		<key>com.apple.kpi.mach</key>
		<string>13.0</string>
	</dict>
</dict>
</plist>
