<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0 Copyright © 2018 Headsoft. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.Headsoft.USBPorts</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>USBPorts</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Macmini8,1-XHC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IONameMatch</key>
			<string>XHC</string>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>
				FgAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>HS03</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AwAAAA==
						</data>
					</dict>
					<key>HS07</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BwAAAA==
						</data>
					</dict>
					<key>HS08</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						CAAAAA==
						</data>
					</dict>
					<key>HS09</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						CQAAAA==
						</data>
					</dict>
					<key>HS10</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						CgAAAA==
						</data>
					</dict>
					<key>HS11</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>
						CwAAAA==
						</data>
					</dict>
					<key>HS12</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>
						DAAAAA==
						</data>
					</dict>
					<key>HS13</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						DQAAAA==
						</data>
					</dict>
					<key>HS14</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						DgAAAA==
						</data>
					</dict>
					<key>SS01</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>
						EQAAAA==
						</data>
					</dict>
					<key>SS02</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>
						EgAAAA==
						</data>
					</dict>
					<key>SS05</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						FQAAAA==
						</data>
					</dict>
					<key>SS06</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						FgAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>Macmini8,1</string>
		</dict>
		<key>iMac18,3-XHC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IONameMatch</key>
			<string>XHC</string>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>
				FgAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>HS03</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AwAAAA==
						</data>
					</dict>
					<key>HS07</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BwAAAA==
						</data>
					</dict>
					<key>HS08</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						CAAAAA==
						</data>
					</dict>
					<key>HS09</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						CQAAAA==
						</data>
					</dict>
					<key>HS10</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						CgAAAA==
						</data>
					</dict>
					<key>HS11</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>
						CwAAAA==
						</data>
					</dict>
					<key>HS12</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>
						DAAAAA==
						</data>
					</dict>
					<key>HS13</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						DQAAAA==
						</data>
					</dict>
					<key>HS14</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						DgAAAA==
						</data>
					</dict>
					<key>SS01</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>
						EQAAAA==
						</data>
					</dict>
					<key>SS02</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>
						EgAAAA==
						</data>
					</dict>
					<key>SS05</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						FQAAAA==
						</data>
					</dict>
					<key>SS06</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						FgAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMac18,3</string>
		</dict>
		<key>iMac19,1-XHC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IONameMatch</key>
			<string>XHC</string>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>
				FgAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>HS03</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AwAAAA==
						</data>
					</dict>
					<key>HS07</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BwAAAA==
						</data>
					</dict>
					<key>HS08</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						CAAAAA==
						</data>
					</dict>
					<key>HS09</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						CQAAAA==
						</data>
					</dict>
					<key>HS10</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						CgAAAA==
						</data>
					</dict>
					<key>HS11</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>
						CwAAAA==
						</data>
					</dict>
					<key>HS12</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>
						DAAAAA==
						</data>
					</dict>
					<key>HS13</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						DQAAAA==
						</data>
					</dict>
					<key>HS14</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						DgAAAA==
						</data>
					</dict>
					<key>SS01</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>
						EQAAAA==
						</data>
					</dict>
					<key>SS02</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>
						EgAAAA==
						</data>
					</dict>
					<key>SS05</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						FQAAAA==
						</data>
					</dict>
					<key>SS06</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						FgAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMac19,1</string>
		</dict>
		<key>iMacPro1,1-XHC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IONameMatch</key>
			<string>XHC</string>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>
				FgAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>HS03</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AwAAAA==
						</data>
					</dict>
					<key>HS07</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BwAAAA==
						</data>
					</dict>
					<key>HS08</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						CAAAAA==
						</data>
					</dict>
					<key>HS09</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						CQAAAA==
						</data>
					</dict>
					<key>HS10</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						CgAAAA==
						</data>
					</dict>
					<key>HS11</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>
						CwAAAA==
						</data>
					</dict>
					<key>HS12</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>
						DAAAAA==
						</data>
					</dict>
					<key>HS13</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						DQAAAA==
						</data>
					</dict>
					<key>HS14</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						DgAAAA==
						</data>
					</dict>
					<key>SS01</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>
						EQAAAA==
						</data>
					</dict>
					<key>SS02</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>
						EgAAAA==
						</data>
					</dict>
					<key>SS05</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						FQAAAA==
						</data>
					</dict>
					<key>SS06</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						FgAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMacPro1,1</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
