<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15G19005</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>W836x</string>
	<key>CFBundleIdentifier</key>
	<string>org.mozodojo.W836x</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.3.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7D1014</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15E60</string>
	<key>DTSDKName</key>
	<string>macosx10.11</string>
	<key>DTXcode</key>
	<string>0731</string>
	<key>DTXcodeBuild</key>
	<string>7D1014</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Winbond W836x Monitor Plugin</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.mozodojo.W836x</string>
			<key>IOClass</key>
			<string>W836x</string>
			<key>IOMatchCategory</key>
			<string>W836x</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>Sensors Configuration</key>
			<dict>
				<key>ASRock</key>
				<dict>
					<key>880GMH/USB3</key>
					<dict>
						<key>FANIN0</key>
						<string>Chasis Fan</string>
						<key>FANIN1</key>
						<string>CPU Fan</string>
						<key>FANIN2</key>
						<string>Power Fan</string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>FANINLIMIT</key>
						<integer>3</integer>
						<key>TEMPIN0</key>
						<string>CPU</string>
						<key>TEMPIN1</key>
						<string></string>
						<key>TEMPIN2</key>
						<string>System</string>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<string></string>
						<key>VIN2</key>
						<string></string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>3VCC</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>75</integer>
							<key>Ri</key>
							<integer>150</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN6</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>560</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>3VSB</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<dict>
							<key>Name</key>
							<string>VBAT</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN9</key>
						<string></string>
					</dict>
				</dict>
				<key>ASUS</key>
				<dict>
					<key>P5E3 Premium</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string>CPU Fan</string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>FANINLIMIT</key>
						<integer>5</integer>
						<key>TEMPIN0FORCED</key>
						<true/>
						<key>TEMPIN1FORCED</key>
						<true/>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>10</integer>
							<key>Ri</key>
							<integer>60</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN2</key>
						<string>AVCC</string>
						<key>VIN3</key>
						<string>3VCC</string>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>10</integer>
							<key>Ri</key>
							<integer>20</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<string></string>
						<key>VIN8</key>
						<string></string>
					</dict>
					<key>P6T</key>
					<dict>
						<key>FANIN0</key>
						<string>System Fan</string>
						<key>FANIN1</key>
						<string>CPU Fan</string>
						<key>FANIN2</key>
						<string>Auxiliary</string>
						<key>FANIN3</key>
						<string>CPU Fan 2</string>
						<key>FANIN4</key>
						<string>Auxiliary Fan 2</string>
						<key>FANINLIMIT</key>
						<integer>5</integer>
						<key>TEMPIN0</key>
						<string>CPU</string>
						<key>TEMPIN1</key>
						<string></string>
						<key>TEMPIN2</key>
						<string>System</string>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>191</integer>
							<key>Ri</key>
							<integer>1150</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN2</key>
						<string></string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>3VCC</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>75</integer>
							<key>Ri</key>
							<integer>150</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>3VSB</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<dict>
							<key>Name</key>
							<string>VBAT</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN9</key>
						<string></string>
					</dict>
					<key>P6T DELUXE V2</key>
					<dict>
						<key>FANIN0</key>
						<string>System Fan</string>
						<key>FANIN1</key>
						<string>CPU Fan</string>
						<key>FANIN2</key>
						<string>Auxiliary</string>
						<key>FANIN3</key>
						<string>CPU Fan 2</string>
						<key>FANIN4</key>
						<string>Auxiliary Fan 2</string>
						<key>FANINLIMIT</key>
						<integer>5</integer>
						<key>TEMPIN0</key>
						<string>CPU</string>
						<key>TEMPIN1</key>
						<string></string>
						<key>TEMPIN2</key>
						<string>System</string>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>191</integer>
							<key>Ri</key>
							<integer>1150</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN2</key>
						<string></string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>3VCC</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>75</integer>
							<key>Ri</key>
							<integer>150</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>3VSB</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<dict>
							<key>Name</key>
							<string>VBAT</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN9</key>
						<string>Power Supply 8</string>
					</dict>
					<key>P6X58D-E</key>
					<dict>
						<key>FANIN0</key>
						<string>System Fan</string>
						<key>FANIN1</key>
						<string>CPU Fan</string>
						<key>FANIN2</key>
						<string>Auxiliary</string>
						<key>FANIN3</key>
						<string>CPU Fan 2</string>
						<key>FANIN4</key>
						<string>Auxiliary Fan 2</string>
						<key>FANINLIMIT</key>
						<integer>4</integer>
						<key>TEMPIN0</key>
						<string>CPU</string>
						<key>TEMPIN1</key>
						<string></string>
						<key>TEMPIN2</key>
						<string>System</string>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>191</integer>
							<key>Ri</key>
							<integer>1150</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN2</key>
						<string></string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>3VCC</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>75</integer>
							<key>Ri</key>
							<integer>150</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>3VSB</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<dict>
							<key>Name</key>
							<string>VBAT</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN9</key>
						<string>Power Supply 8</string>
					</dict>
					<key>P7P55D LE</key>
					<dict>
						<key>FANIN0</key>
						<string>Chassis Fan 1</string>
						<key>FANIN1</key>
						<string>CPU Fan</string>
						<key>FANIN2</key>
						<string>Chassis Fan 2</string>
						<key>FANIN3</key>
						<string>Chassis Fan 3</string>
						<key>FANIN4</key>
						<string>Power Fan</string>
						<key>FANINLIMIT</key>
						<integer>4</integer>
						<key>TEMPIN0</key>
						<string>CPU</string>
						<key>TEMPIN1</key>
						<string>Ambient</string>
						<key>TEMPIN2</key>
						<string>System</string>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<string>Memory</string>
						<key>VIN2</key>
						<string>3VCC</string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>7193</integer>
							<key>VRef</key>
							<string></string>
						</dict>
						<key>VIN4</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>2000</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<string></string>
						<key>VIN8</key>
						<string></string>
					</dict>
					<key>Rampage II GENE</key>
					<dict>
						<key>FANIN0</key>
						<string>System Fan</string>
						<key>FANIN1</key>
						<string>CPU Fan</string>
						<key>FANIN2</key>
						<string>Auxiliary</string>
						<key>FANIN3</key>
						<string>CPU Fan 2</string>
						<key>FANIN4</key>
						<string>Auxiliary Fan 2</string>
						<key>FANINLIMIT</key>
						<integer>4</integer>
						<key>TEMPIN0</key>
						<string>CPU</string>
						<key>TEMPIN1</key>
						<string></string>
						<key>TEMPIN2</key>
						<string>System</string>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>191</integer>
							<key>Ri</key>
							<integer>1150</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN2</key>
						<string></string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>3VCC</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>75</integer>
							<key>Ri</key>
							<integer>150</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>3VSB</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<dict>
							<key>Name</key>
							<string>VBAT</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN9</key>
						<string></string>
					</dict>
				</dict>
				<key>Default</key>
				<dict>
					<key>FANIN0</key>
					<string>CPU Fan</string>
					<key>FANIN1</key>
					<string>System Fan</string>
					<key>FANIN2</key>
					<string>Aux Fan</string>
					<key>FANIN3</key>
					<string></string>
					<key>FANIN4</key>
					<string></string>
					<key>FANINLIMIT</key>
					<integer>3</integer>
					<key>TEMPIN0FORCED</key>
					<false/>
					<key>TEMPIN1FORCED</key>
					<false/>
					<key>VIN0</key>
					<string>CPU</string>
					<key>VIN1</key>
					<string>-12VC</string>
					<key>VIN2</key>
					<string>AVSB</string>
					<key>VIN3</key>
					<string>3VCC</string>
					<key>VIN4</key>
					<string>5VCC</string>
					<key>VIN5</key>
					<string>12VC</string>
					<key>VIN6</key>
					<string></string>
					<key>VIN7</key>
					<string>3VSB</string>
					<key>VIN8</key>
					<string>VBAT</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>9.0.0</string>
		<key>org.netkas.FakeSMC</key>
		<string>3.3.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
