<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17G2112</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>VoodooI2C</string>
	<key>CFBundleIdentifier</key>
	<string>com.alexandred.VoodooI2C</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VoodooI2C</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.4</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.1.4</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9F2000</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17E189</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0941</string>
	<key>DTXcodeBuild</key>
	<string>9F2000</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Custom MT2 Personality</key>
		<dict>
			<key>ApplePreferenceCapability</key>
			<integer>2</integer>
			<key>ApplePreferenceIdentifier</key>
			<string>com.apple.AppleMultitouchTrackpad</string>
			<key>ApplePreferencesDefaultPreferences</key>
			<dict>
				<key>ActuateDetents</key>
				<integer>0</integer>
				<key>Clicking</key>
				<integer>1</integer>
				<key>DragLock</key>
				<integer>0</integer>
				<key>Dragging</key>
				<integer>0</integer>
				<key>FirstClickThreshold</key>
				<integer>1</integer>
				<key>ForceSuppressed</key>
				<true/>
				<key>SecondClickThreshold</key>
				<integer>1</integer>
				<key>TrackpadCornerSecondaryClick</key>
				<integer>0</integer>
				<key>TrackpadFiveFingerPinchGesture</key>
				<integer>2</integer>
				<key>TrackpadFourFingerHorizSwipeGesture</key>
				<integer>2</integer>
				<key>TrackpadFourFingerPinchGesture</key>
				<integer>2</integer>
				<key>TrackpadFourFingerVertSwipeGesture</key>
				<integer>2</integer>
				<key>TrackpadHorizScroll</key>
				<integer>1</integer>
				<key>TrackpadMomentumScroll</key>
				<true/>
				<key>TrackpadPinch</key>
				<integer>1</integer>
				<key>TrackpadRightClick</key>
				<true/>
				<key>TrackpadRotate</key>
				<integer>1</integer>
				<key>TrackpadScroll</key>
				<true/>
				<key>TrackpadThreeFingerDrag</key>
				<false/>
				<key>TrackpadThreeFingerHorizSwipeGesture</key>
				<integer>2</integer>
				<key>TrackpadThreeFingerVertSwipeGesture</key>
				<integer>2</integer>
			</dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleTopCaseHIDEventDriver</string>
			<key>DefaultMultitouchProperties</key>
			<dict>
				<key>ActuationSupported</key>
				<false/>
				<key>ExtractAndPostDeviceButtonState</key>
				<true/>
				<key>ForceSupported</key>
				<false/>
				<key>HIDServiceSupport</key>
				<true/>
				<key>IOCFPlugInTypes</key>
				<dict>
					<key>0516B563-B15B-11DA-96EB-0014519758EF</key>
					<string>AppleMultitouchDriver.kext/Contents/PlugIns/MultitouchHID.plugin</string>
				</dict>
				<key>MT Built-In</key>
				<true/>
				<key>MTHIDDevice</key>
				<true/>
				<key>MTPowerStatsDisable</key>
				<true/>
				<key>SupportsGestureScrolling</key>
				<true/>
				<key>TrackpadFourFingerGestures</key>
				<true/>
				<key>TrackpadMomentumScroll</key>
				<true/>
				<key>TrackpadSecondaryClickCorners</key>
				<true/>
				<key>TrackpadThreeFingerDrag</key>
				<true/>
				<key>parser-options</key>
				<integer>39</integer>
				<key>parser-type</key>
				<integer>1000</integer>
			</dict>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>2</integer>
					<key>DeviceUsagePage</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>DoReportIntervalHack</key>
			<true/>
			<key>HIDAccelCurves</key>
			<array>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>65536</integer>
					<key>HIDAccelIndex</key>
					<integer>0</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>484966</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1376256</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>5243</integer>
					<key>HIDAccelGainLinear</key>
					<integer>64881</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>32768</integer>
					<key>HIDAccelIndex</key>
					<integer>8192</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>478413</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1310720</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>6554</integer>
					<key>HIDAccelGainLinear</key>
					<integer>64225</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>43254</integer>
					<key>HIDAccelIndex</key>
					<integer>32768</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>471859</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1245184</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>7864</integer>
					<key>HIDAccelGainLinear</key>
					<integer>62915</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>54395</integer>
					<key>HIDAccelIndex</key>
					<integer>45056</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>465306</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1179648</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>9830</integer>
					<key>HIDAccelGainLinear</key>
					<integer>61604</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>65536</integer>
					<key>HIDAccelIndex</key>
					<integer>57344</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1114112</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>11796</integer>
					<key>HIDAccelGainLinear</key>
					<integer>60293</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>75366</integer>
					<key>HIDAccelIndex</key>
					<integer>65536</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1048576</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>13763</integer>
					<key>HIDAccelGainLinear</key>
					<integer>58327</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>85197</integer>
					<key>HIDAccelIndex</key>
					<integer>98304</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>983040</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>15729</integer>
					<key>HIDAccelGainLinear</key>
					<integer>56361</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>95027</integer>
					<key>HIDAccelIndex</key>
					<integer>131072</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>917504</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>18350</integer>
					<key>HIDAccelGainLinear</key>
					<integer>54395</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>108790</integer>
					<key>HIDAccelIndex</key>
					<integer>163840</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>851968</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>23593</integer>
					<key>HIDAccelGainLinear</key>
					<integer>65536</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>123208</integer>
					<key>HIDAccelIndex</key>
					<integer>196608</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
			</array>
			<key>HIDDisallowRemappingOfPrimaryClick</key>
			<true/>
			<key>HIDPointerAccelerationTable</key>
			<data>
			AACAAFVTQioABwAAAAAAAgAEAAAABAAAABAAAAAQAAAAACAAAA0A
			AIAAAACAAAABQAAAAYAAAAIAAAAC4AAAAwAAAATgAAAEAAAAB0AA
			AAUAAAAKAAAABgAAAA1AAAAIAAAAFgAAAArAAAAjAAAADQAAAC8A
			AAAOwAAAOMAAABBAAABBAAAAEcAAAEjAAAAAUAAADwAAgAAAAIAA
			AAEAAAABQAAAAYAAAAJAAAACAAAAA4AAAAKAAAAE4AAAAwAAAAZg
			AAAEAAAACgAAAAUAAAAOQAAABgAAABNAAAAIAAAAHsAAAArAAAAu
			wAAADQAAADyAAAAOwAAARwAAABBAAABPwAAAEcAAAFiAAAAAgAAA
			DwAAgAAAAIAAAAEAAAABYAAAAYAAAAKgAAACAAAABEAAAAKAAAAG
			AAAAAwAAAAgAAAAEAAAADQAAAAUAAAASwAAABgAAABkAAAAIAAAA
			KAAAAArAAAA7wAAADQAAAEuAAAAOwAAAV0AAABBAAABgQAAAEcAA
			AGkAAAAAsAAADwAAgAAAAIAAAAEAAAABoAAAAYAAAAMAAAACAAAA
			BQAAAAKAAAAHQAAAAwAAAAnAAAAEAAAAEEAAAAUAAAAXgAAABgAA
			AB/AAAAIAAAAMgAAAArAAABKAAAADQAAAFyAAAAOwAAAaQAAABBA
			AABywAAAEcAAAHrAAAAA4AAADwAAgAAAAKAAAAEAAAABwAAAAYAA
			AANgAAACAAAABeAAAAKAAAAIoAAAAwAAAAvAAAAEAAAAE8AAAAUA
			AAAdQAAABgAAACfAAAAIAAAAPcAAAArAAABZAAAADQAAAG3AAAAO
			wAAAe0AAABBAAACFQAAAEcAAAIxAAAABAAAADwAAgAAAAMAAAAEA
			AAACAAAAAYAAAAPgAAACAAAABsAAAAKAAAAKQAAAAwAAAA5gAAAE
			AAAAGMAAAAUAAAAkwAAABgAAADLAAAAIAAAATUAAAArAAABugAAA
			DQAAAIMAAAAOwAAAj0AAABBAAACXAAAAEcAAAJxA
			</data>
			<key>HIDPointerAccelerationType</key>
			<string>HIDTrackpadAcceleration</string>
			<key>HIDScrollAccelCurves</key>
			<array>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>65536</integer>
					<key>HIDAccelIndex</key>
					<integer>0</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>393216</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>62259</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>39322</integer>
					<key>HIDAccelIndex</key>
					<integer>8192</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>406323</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>58982</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>58982</integer>
					<key>HIDAccelIndex</key>
					<integer>32768</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>419430</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>55706</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>78643</integer>
					<key>HIDAccelIndex</key>
					<integer>45056</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>432538</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>52429</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>91750</integer>
					<key>HIDAccelIndex</key>
					<integer>57344</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>445645</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>49152</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>104858</integer>
					<key>HIDAccelIndex</key>
					<integer>65536</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>45875</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>117965</integer>
					<key>HIDAccelIndex</key>
					<integer>98304</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>471859</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>42598</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>131072</integer>
					<key>HIDAccelIndex</key>
					<integer>131072</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>484966</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>39322</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>144179</integer>
					<key>HIDAccelIndex</key>
					<integer>163840</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>498074</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>36045</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>157286</integer>
					<key>HIDAccelIndex</key>
					<integer>196608</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>511181</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
			</array>
			<key>HIDScrollAccelerationTable</key>
			<data>
			AACAAFVTQioABwAAAAAAAQABAAAAAQAAAAAgAAAQAABxOwAATOMA
			AwAAAAdgAAAEwAAADoAAAAbxSgAX6V4ACVeCACMQWgALZ6EALBF7
			AA2N1AA03ToAD36aADvQuAASWKAARl01ABUAAABO2dgAF8AAAFXK
			7QAas+UAW2FQAB2QAABe0qoAIL75AGEgywAkLXsAYnXvACewAABj
			Rl8AAIAAABMAAHE7AABWfwABAAAAAuAAAAIAAAAJYAAAAwAAABIA
			AAAEwAAAIMAAAAaAAAAwgAAACGp5AEH9tgAK7bUAV4ZuAA0B2ABr
			PTkADv1/AIEEcAAQy5gAkdRWABJouQCe3VAAE+c/AKikCgAXAucA
			tn2SABot3ADARE4AHVjQAMX4OgAg35IAytuYACQ4bgDO7mUAJ6CX
			ANIwowAAsAAAFAAAcTsAAGFOAADAAAABwAAAAQAAAANgAAACAAAA
			DCAAAAMAAAAW4AAABMAAACnAAAAGQAAAOsAAAAfOggBP7OcACgWA
			AGo8rgAL658AhMCkAA2RCwCfR+EADzjIALWDbwAQ/k8AxqbEABLN
			UQDUeCMAFepmAOTKxwAZoVYA8qFmAB1CvwD7fXwAIQuCAQFpdAAk
			S20BBVKIACegAAEIK4wAAOAAABQAAHE7AABtdwAAwAAAAeAAAAEA
			AAAD4AAAAgAAAA6AAAADAAAAHEAAAATAAAA0AAAABgAAAEdAAAAH
			N4wAXL7hAAkAAACAwAAACoAAAKGAAAALz7IAvU7UAA01yQDadikA
			DvtPAPKF4gARLu4BCSWiABUlDwEfV8QAGT9oASzRKgAdChkBNQrG
			ACDz5QE6cR4AJEARAT3XdgAnn1YBQMHWAABQAAATAABxOwAAS7AA
			AQAAAAJgAAACAAAABuAAAAMAAAAMYAAABMAAABcAAAAGwAAAJAAA
			AAkAAAAyAAAACz1uAEFngAANcE8AUMGhAA+sTQBgSTMAEagdAG5N
			TAATT9YAd9WQABTQfgB+26MAF3odAIbYXQAagocAjp+lAB2J6QCT
			vnkAIN/yAJdcWwAkO0IAmYu9ACegOACacdcAAQAAABUAAHE7AABW
			fwAAwAAAAiAAAAEAAAAEgAAAAYAAAAqAAAACAAAAEaAAAAMAAAAh
			gAAABMAAAD6AAAAFwAAAVEAAAAbAAABrAAAACAAAAIxAAAAJAAAA
			qYAAAApAAADKwAAAC8AAAPTAAAANwAABJAAAABAAAAFEn9IAFEAA
			AV49zAAZAAABbrsYABzQAAFz78AAIOAAAXhvwAAkIAABem/AACeg
			AAF8JGg=
			</data>
			<key>HIDScrollAccelerationType</key>
			<string>HIDTrackpadScrollAcceleration</string>
			<key>HIDScrollResolution</key>
			<integer>26214400</integer>
			<key>IOCFPlugInTypes</key>
			<dict>
				<key>0516B563-B15B-11DA-96EB-0014519758EF</key>
				<string>AppleMultitouchDriver.kext/Contents/PlugIns/MultitouchHID.plugin</string>
			</dict>
			<key>IOClass</key>
			<string>AppleMultitouchTrackpadHIDEventDriver</string>
			<key>IOProbeScore</key>
			<integer>9999</integer>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>MTEventSource</key>
			<true/>
			<key>ProductIDArray</key>
			<array>
				<integer>628</integer>
			</array>
			<key>TrackpadEmbedded</key>
			<true/>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
		<key>Native Multitouch Engine</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.alexandred.VoodooI2C</string>
			<key>IOClass</key>
			<string>VoodooI2CNativeEngine</string>
			<key>IOMatchCategory</key>
			<string>VoodooI2CNativeEngine</string>
			<key>IOProviderClass</key>
			<string>VoodooI2CMultitouchInterface</string>
		</dict>
		<key>VoodooI2CACPIController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.alexandred.VoodooI2C</string>
			<key>IOClass</key>
			<string>VoodooI2CACPIController</string>
			<key>IONameMatch</key>
			<array>
				<string>INT33C2</string>
				<string>INT33C3</string>
				<string>INT3432</string>
				<string>INT3433</string>
			</array>
			<key>IOProbeScore</key>
			<integer>9999</integer>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
		<key>VoodooI2CControllerDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.alexandred.VoodooI2C</string>
			<key>IOClass</key>
			<string>VoodooI2CControllerDriver</string>
			<key>IOProbeScore</key>
			<integer>9999</integer>
			<key>IOProviderClass</key>
			<string>VoodooI2CControllerNub</string>
		</dict>
		<key>VoodooI2CPCIController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.alexandred.VoodooI2C</string>
			<key>IOClass</key>
			<string>VoodooI2CPCIController</string>
			<key>IONameMatch</key>
			<array>
				<string>pci8086,9d60</string>
				<string>pci8086,9d61</string>
				<string>pci8086,a160</string>
				<string>pci8086,a161</string>
				<string>pci8086,a162</string>
				<string>pci8086,a368</string>
				<string>pci8086,a369</string>
			</array>
			<key>IOProbeScore</key>
			<integer>9999</integer>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Alexandre Daoud. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>2.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.alexandred.VoodooI2CServices</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.4</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>2.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.9</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>14</string>
		<key>com.apple.kpi.libkern</key>
		<string>14</string>
		<key>com.apple.kpi.mach</key>
		<string>14</string>
		<key>org.coolstar.VoodooGPIO</key>
		<string>1.1</string>
	</dict>
</dict>
</plist>
