<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>ClaudesTech</string>
	<key>Year</key>
	<string>2017</string>
	<key>Description</key>
	<string>Asus</string>
	<key>Theme</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>Path</key>
			<string>background.png</string>
			<key>Type</key>
			<string>Scale</string>
		</dict>
		<key>Anime</key>
        <array>
            <dict>
            <key>ID</key>
            <integer>4</integer>
            <key>Path</key>
            <string>options_anim</string>
            <key>Frames</key>
            <integer>2</integer>
            <key>FrameTime</key>
            <integer>200</integer>
        </dict>
        </array>
		<key>Banner</key>
		<string>banner.png</string>
		<key>Selection</key>
		<dict>
			<key>Color</key>
			<string>0xFFFFFF80</string>
			<key>Small</key>
			<string>selection_small.png</string>
			<key>Big</key>
			<string>selection_big.png</string>
		</dict>
		<key>Font</key>
		<dict>
			<key>Type</key>
			<string>Load</string>
			<key>Path</key>
			<string>font.png</string>
			<key>CharWidth</key>
			<integer>10</integer>
            <key>Proportional</key>
            <true/>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Show</key>
			<true/>
			<key>Swap</key>
			<true/>
			<key>Inline</key>
			<false/>
		</dict>
		<key>Layout</key>
        <dict>
            <key>TextOffset</key>
            <integer>-20</integer>
		</dict>
	</dict>
</dict>
</plist>
