<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17G2112</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>VoodooI2CHID</string>
	<key>CFBundleIdentifier</key>
	<string>com.alexandred.VoodooI2CHID</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VoodooI2CHID</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9F2000</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17E189</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0941</string>
	<key>DTXcodeBuild</key>
	<string>9F2000</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Intel ACPI Sensor Hub Enabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.alexandred.VoodooI2CHID</string>
			<key>IOClass</key>
			<string>VoodooI2CSensorHubEnabler</string>
			<key>IONameMatch</key>
			<array>
				<string>INT33D0</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
		</dict>
		<key>Sensor Hub Event Driver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.alexandred.VoodooI2CHID</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>1</integer>
					<key>DeviceUsagePage</key>
					<integer>32</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>VoodooI2CSensorHubEventDriver</string>
			<key>IOProbeScore</key>
			<integer>100</integer>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
		</dict>
		<key>VoodooI2CHIDDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.alexandred.VoodooI2CHID</string>
			<key>IOClass</key>
			<string>VoodooI2CHIDDevice</string>
			<key>IOProbeScore</key>
			<integer>100</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>compatible</key>
				<string>PNP0C50</string>
			</dict>
			<key>IOProviderClass</key>
			<string>VoodooI2CDeviceNub</string>
		</dict>
		<key>VoodooI2CHIDDevice Generic Mouse HID Event Driver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.alexandred.VoodooI2CHID</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>2</integer>
					<key>DeviceUsagePage</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>HIDAccelCurves</key>
			<array>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>65536</integer>
					<key>HIDAccelIndex</key>
					<integer>0</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>524288</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>5243</integer>
					<key>HIDAccelGainLinear</key>
					<integer>60293</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>26214</integer>
					<key>HIDAccelIndex</key>
					<integer>8192</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>537395</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1245184</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>6554</integer>
					<key>HIDAccelGainLinear</key>
					<integer>60948</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>36045</integer>
					<key>HIDAccelIndex</key>
					<integer>32768</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>543949</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1179648</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>7864</integer>
					<key>HIDAccelGainLinear</key>
					<integer>61604</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>46531</integer>
					<key>HIDAccelIndex</key>
					<integer>45056</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>550502</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1114112</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>9830</integer>
					<key>HIDAccelGainLinear</key>
					<integer>62259</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>57672</integer>
					<key>HIDAccelIndex</key>
					<integer>57344</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>557056</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1048576</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>11796</integer>
					<key>HIDAccelGainLinear</key>
					<integer>62915</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>69468</integer>
					<key>HIDAccelIndex</key>
					<integer>65536</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>563610</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>983040</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>14418</integer>
					<key>HIDAccelGainLinear</key>
					<integer>63570</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>81920</integer>
					<key>HIDAccelIndex</key>
					<integer>98304</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>570163</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>917504</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>17695</integer>
					<key>HIDAccelGainLinear</key>
					<integer>64225</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>95027</integer>
					<key>HIDAccelIndex</key>
					<integer>131072</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>576717</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>851968</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>21627</integer>
					<key>HIDAccelGainLinear</key>
					<integer>64881</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>108790</integer>
					<key>HIDAccelIndex</key>
					<integer>163840</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>583270</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>26214</integer>
					<key>HIDAccelGainLinear</key>
					<integer>65536</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>123208</integer>
					<key>HIDAccelIndex</key>
					<integer>196608</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>589824</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>IOHIDEventDriver</string>
			<key>IOProbeScore</key>
			<integer>100</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>Transport</key>
				<string>I2C</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
		</dict>
		<key>VoodooI2CHIDDevice Multitouch HID Event Driver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.alexandred.VoodooI2CHID</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>4</integer>
					<key>DeviceUsagePage</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>DeviceUsage</key>
					<integer>5</integer>
					<key>DeviceUsagePage</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>DeviceUsage</key>
					<integer>2</integer>
					<key>DeviceUsagePage</key>
					<integer>13</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>VoodooI2CMultitouchHIDEventDriver</string>
			<key>IOProbeScore</key>
			<integer>200</integer>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
		</dict>
		<key>VoodooI2CHIDDevice Precision Touchpad HID Event Driver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.alexandred.VoodooI2CHID</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>5</integer>
					<key>DeviceUsagePage</key>
					<integer>13</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>VoodooI2CPrecisionTouchpadHIDEventDriver</string>
			<key>IOProbeScore</key>
			<integer>300</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>Transport</key>
				<string>I2C</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>ProcessBluetoothMouseStopsTrackpad</key>
			<false/>
			<key>ProcessUSBMouseStopsTrackpad</key>
			<false/>
			<key>QuietTimeAfterTyping</key>
			<integer>500</integer>
			<key>RM,deliverNotifications</key>
			<true/>
		</dict>
		<key>VoodooI2CHIDDevice Stylus HID Event Driver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.alexandred.VoodooI2CHID</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>2</integer>
					<key>DeviceUsagePage</key>
					<integer>13</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>VoodooI2CStylusHIDEventDriver</string>
			<key>IOProbeScore</key>
			<integer>300</integer>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
		</dict>
		<key>VoodooI2CHIDDevice Touchscreen HID Event Driver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.alexandred.VoodooI2CHID</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>4</integer>
					<key>DeviceUsagePage</key>
					<integer>13</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>VoodooI2CTouchscreenHIDEventDriver</string>
			<key>IOProbeScore</key>
			<integer>400</integer>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Alexandre Daoud. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.alexandred.VoodooI2C</key>
		<string>2.0</string>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.4</string>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>2.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>14</string>
		<key>com.apple.kpi.libkern</key>
		<string>14</string>
		<key>com.apple.kpi.mach</key>
		<string>13.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
