<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18A391</string>
	<key>CFBundleIdentifier</key>
	<string>org.rehabman.injector.FakePCIID-Broadcom-WiFi</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FakePCIID_Broadcom_WiFi</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.15</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.3.15</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9F2000</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>10M2518</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0941</string>
	<key>DTXcodeBuild</key>
	<string>9F2000</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Airport_Brcm4360</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AirPort.Brcm4360</string>
			<key>IOClass</key>
			<string>AirPort_Brcm4360</string>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
			<key>IONameMatch</key>
			<array>
				<string>pci14e4,4353</string>
				<string>pci14e4,4357</string>
				<string>pci14e4,43b1</string>
				<string>pci14e4,43b2</string>
			</array>
			<key>IOProbeScore</key>
			<integer>1110</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>TruePowerOff</key>
			<true/>
		</dict>
		<key>Broadcom FakePCIID WiFi no device-id</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.rehabman.driver.FakePCIID</string>
			<key>FakeProperties</key>
			<dict>
				<key>RM,subsystem-id</key>
				<data>
				NAEAAA==
				</data>
				<key>RM,subsystem-vendor-id</key>
				<data>
				axAAAA==
				</data>
			</dict>
			<key>IOClass</key>
			<string>FakePCIID</string>
			<key>IOMatchCategory</key>
			<string>FakePCIID</string>
			<key>IONameMatch</key>
			<array>
				<string>pci14e4,4357</string>
				<string>pci14e4,43b1</string>
				<string>pci14e4,43a0</string>
				<string>pci14e4,4331</string>
				<string>pci14e4,4353</string>
				<string>pci14e4,432b</string>
				<string>pci14e4,43ba</string>
				<string>pci14e4,43a3</string>
				<string>pci106b,4e</string>
				<string>pci14e4,4311</string>
				<string>pci14e4,4312</string>
				<string>pci14e4,4313</string>
				<string>pci14e4,4318</string>
				<string>pci14e4,4319</string>
				<string>pci14e4,431a</string>
				<string>pci14e4,4320</string>
				<string>pci14e4,4324</string>
				<string>pci14e4,4325</string>
				<string>pci14e4,4328</string>
				<string>pci14e4,432c</string>
				<string>pci14e4,432d</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
	<key>Source Code</key>
	<string>https://github.com/RehabMan/FakePCIID</string>
</dict>
</plist>
