 <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Chang</string>
	<key>Description</key>
	<string>A Simple Theme</string>
	<key>Theme</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>Path</key>
			<string>background.png</string>
			<key>Type</key>
			<string>Tile</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Show</key>
			<true/>
			<key>Swap</key>
			<true/>
			<key>Inline</key>
			<false/>
		</dict>
		<key>Banner</key>
		<string>banner.png</string>
		<key>Font</key>
		<dict>
			<key>Path</key>
			<string>font.png</string>
			<key>Type</key>
			<string>Load</string>
			<key>CharWidth</key>
			<integer>10</integer>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>selection_big.png</string>
			<key>Color</key>
			<string>0x6C6C6CFF</string>
			<key>Small</key>
			<string>selection_small.png</string>
			<key>OnTop</key>
			<true/>
		</dict>
	</dict>
	<key>Year</key>
	<string>2014</string>
</dict>
</plist>
